<a href="https://colab.research.google.com/github/Natalycat86/2210/blob/main/HomeWork_%D0%A1%D0%B5%D0%BC%D0%B8%D0%BD%D0%B0%D1%80_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задача 1

`На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе`

In [ ]:
def fruits(**kwargs):
  print(kwargs) 
  TotalFruit = 0
  for value in kwargs.values():
        TotalFruit += value
  return TotalFruit

In [ ]:
fruits(banana=5, kiwi=8, oranges=6, apples=12)

{'banana': 5, 'kiwi': 8, 'oranges': 6, 'apples': 12}

31

## Задача 2

`Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions`

In [ ]:
expensesAdvert = [100, 125, -90, 345, 655, -1, 0, 200]
costs = [value for value in expensesAdvert if value > 0]
print(costs)
sum(costs)

[100, 125, 345, 655, 200]

1425

## Задача 3
### Подзадача 3.1

`Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
Найдите, какая выручка у компании в ноябре
Используйте list comprehensions`

In [6]:
listOfDate = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
listOfMoney = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
Total = [listOfMoney[i] for i in range(len(listOfDate)) if listOfDate[i][5:7] == '11']
sum(Total)

25098

### Подзадача 3.2

`Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов`

In [7]:
def monthlyRevenue(listOfDate:list[str],listOfMoney:list[str]) -> dict:
  month = [('01','январь'), ('02','февраль'), ('03','март'), ('04','апрель'), ('05','май'),('06','июнь'),('07','июль'),('08','август'),('09','сентябрь'), ('10','октябрь'),('11','ноябрь'), ('12','декабрь')]
  for i in range(len(month)):
        for j in range(len(listOfDate)):
            if month[i][0] == listOfDate[j][5:7]:
                listOfDate[j] = month[i][1]
  revenue_dict = dict()
  for i, value in enumerate(listOfMoney):
        revenue_dict[listOfDate[i]] = revenue_dict.get(listOfDate[i], 0) + value
  return revenue_dict
 
monthlyRevenue(listOfDate, listOfMoney)

{'сентябрь': 25647, 'декабрь': 45452, 'октябрь': 28645, 'ноябрь': 25098}